/*configurações globais */

*{
    font-family:cursive;
    text-align: left;
    padding: 5px;
    margin-left: 5px;
    margin-right: 50px;
    width: 650px;
    
}

body{
    background-color: rgb(245, 238, 229);
}

button{
    cursor:pointer;
}

/*estilo superior*/

.topnav{
  background-color: rgb(250, 217, 176);
}

.nav{
font-size: 17px;
list-style: none;
line-height: 5px;
display: block;
}

/*container*/
.container{
display:block;
height: 200px;
margin-top: 10px;
font-size: 20px;
}

.primeiro{
font-size: 35;
font-style:unset;
color: rgb(112, 65, 7);
}

.segundo{
background-color: rgb(252, 193, 121);
color: rgba(70, 26, 26, 0.904);
}

.terceiro{
color:rgb(112, 65, 7);
}

.final{
display:block;
}

.video{
    color: rgb(112, 65, 7);
}

.h3{
color: rgb(85, 25, 25);
text-decoration: none;
}